.con{

    margin-top: 150px;
    margin: 100px;
    border-radius: 20px;
    align-items: center;
    background-color: #ffda79;
}
.con h2{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    position: relative;
    top: -30px;
    color: white;
}
.butt a{
     color: white;
     font-size: 25px;
}
.butt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.butt a:nth-child(2):hover{
  color: #b33939;
  box-shadow: 0px 3px 0px 0px;
}

.butt a:nth-child(1):hover{
    color: #34ace0;
    box-shadow: 0px 3px 0px 0px;
  }
  

table {
 text-align: center;

}

.con button{
    padding: 10px;
    position: absolute;

}
.con i{
    margin-right: 5px;
}

.toggle{
    text-align: center;
    border: 1px solid black;
    margin-top: 100px;
}
.toggle.show{
    background-color: green;
}
.inptt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.inptt input{
    width: 350px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    padding: 3px;
    border: none;
  
}
h5{
    color:#b33939;
    position: relative;
    left: 150px;
}
h5 i{
    margin-right: 8px;
}
.boxing{
    background-color: #f7f1e3;
}

h6{
    color:#218c74;
    position: relative;
    left: 143px;
}
h6 i{
    margin-right: 8px;
}
h2{
    color:red;
    position: relative;
    left: 30px;
}
h1{
    color:red;
    position: relative;
    left: 135px;
    font-size: 30px;
    
}
.srch input{
    width: 600px;
    position: relative;
}

